/* index, 모든 sub 적용할 공통 header, footer common.css */
#wrap {}
#wrap header {
    background-color:aqua;
    height:92px;
    padding:0 60px;
    /* container(header) item(h1,nav,right_menu) */
    display:flex;
    flex-flow:row nowrap; 
    justify-content:space-between;
    align-items:center;
}
#wrap header h1 {}
#wrap header h1 a {
    /* width:56px; height:65px; */
}
#wrap header h1 a img {}
#wrap header nav {
    background-color:lime;
}
#wrap header nav .gnb {
    /* container(.gnb) item(li) */
    display:flex; flex-flow:row nowrap;
    
}
#wrap header nav .gnb li {
margin-right:60px;
}
#wrap header nav .gnb li:last-child {margin-right:0;}
#wrap header nav .gnb li a {
    /* font-family: 'pretendard', sans-serif; 리셋 초기값에 있으므로 생략*/
    font-size:1.125rem;
    font-weight:600;
    border:1px solid red;
    display:block;
    height:92px;
    line-height:92px;/* 글자중앙정렬 */

    /* line-height:1; *//* 1=100% 150%=1.5 리셋 초기값에 있으므로 생략*/
    /* letter-spacing:-0.02rem; 리셋 초기값에 있으므로 생략*/
    /* color:#000; 리셋 초기값에 있으므로 생략*/
    /* text-align:left; 기본값으므로 작성 필요없음*/
    
}
#wrap header .right_menu {
    background-color:yellow;
    display:flex; flex-flow:row nowrap;
}     
#wrap header .right_menu li {
    margin-left:30px;
    display:flex; flex-flow:row nowrap;
    align-items:center;
}
#wrap header .right_menu li:first-child {
    margin-left:0;
    

}
/* 포토샵, 피그마에서 디자인한 구분선 디자인은 css에서 가상 선택자 after 또는 before를 이용하여 면으로 변경하여 디자인한다 */
#wrap header .right_menu li:first-child::after {
    content:''; display:inline-block;/* 크기 인식시켜야함 */
    width:1px;height:20px;
    background-color:#000;
    margin-left:30px;
}
#wrap header .right_menu li:first-child a {
    line-height:24px;
}
#wrap header .right_menu li a {
    font-size:0.75rem;
    letter-spacing: 0;
}
#wrap header .right_menu li a img {
    
}
/* =================================================footer */
#wrap .footer_full_w {width:100%;
    padding:50px 60px;}
#wrap footer {
    background-color:aqua;
    width:1280px;
    margin:0 auto;
    padding:50px 0;
    
    
    
}
#wrap footer .top {
    background-color:lime;
    display:flex;flex-flow:row nowrap;
    justify-content: space-between;
    margin-bottom:12px;
}
#wrap footer .top .left {
    background-color:orange;
    display: flex; flex-flow:row nowrap;
    align-items: center;
}
#wrap footer .top .left  a {
    font-size:1rem;
    margin-right:51px;
    
}
#wrap footer .top .left  a:last-child {margin-right:0;}
#wrap footer .top .left a:nth-child(1) {
    color: #138FBF;
}
#wrap footer .top .left a:nth-child(2) {
    color:#DA2128;
}
#wrap footer .top .left  a img {
    
}
#wrap footer .top .right {
    background-color:yellow;
    display:flex; flex-flow: row nowrap;
    align-items: center;

}
/* ==============footer 패밀리사이트+ 사이트맵 공통 */
#wrap footer .top .right .site {
    border:1px #eee solid;
    padding:7px 10px;
    font-size: 0.75rem;
    height:38px;
    
    
}
/* ==============footer 패밀리사이트+사이트맵 개별 */
#wrap footer .top .right select {
    /* padding:7px 10px; */
    width:197px; outline:none;
    background:#fff url(../images/under.png) no-repeat 94% center;  
}
#wrap footer .top .right select option {}
#wrap footer .top .right .site_map {
    background:#fff;
    width:135px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left:20px;
}
#wrap footer .top .right .site_map span {}
#wrap footer .top .right .site_map img {}
#wrap footer .bottom {}
#wrap footer .bottom * {/* *바텀의 모든 자식 자손 *:(모든)*/
    font-size:0.875rem;
    line-height:1.35;
    color:#808080; 
}
#wrap footer .bottom address {
    /* color:#808080; */
    /* font-size:0.875rem;
    line-height:1.35; */
    margin-bottom:50px;
}
#wrap footer .bottom p {
    /* color:#808080; */
    font-size:0.875rem;
}
