/* index, 모든 sub 적용할 공통 header, footer common.css */
#wrap {width:1920px; height:92px;
/* background-color:bisque; */
}
#wrap header {
    
    
}
#wrap header h1 {}
#wrap header h1 a {
    /* width:56px; height:65px; */
}
#wrap header h1 a img {}
#wrap header nav {
    
}
#wrap header nav .gnb {
    
}
#wrap header nav .gnb li {
    /* display:inline-block;
    
    /* margin:0 60px 0; */
    /* padding-top:37px; */
    /*background-color: aquamarine;
    
    
    /* margin:37px 0 37px; */
    /* text-align: center; */
    
}

#wrap header nav .gnb li a {
    /* font-family: 'pretendard', sans-serif; 리셋 초기값에 있으므로 생략*/
    font-size:1.125rem;
    font-weight:600;
    /* line-height:1; *//* 1=100% 150%=1.5 리셋 초기값에 있으므로 생략*/
    /* letter-spacing:-0.02rem; 리셋 초기값에 있으므로 생략*/
    /* color:#000; 리셋 초기값에 있으므로 생략*/
    /* text-align:left; 기본값으므로 작성 필요없음*/
    
}
#wrap header .right_menu {
    
}     
#wrap header .right_menu li {
    /* display:inline;
    background-color:yellow; */
    

}
#wrap header .right_menu li a {
    font-size:0.75rem;
    letter-spacing: 0;
}
#wrap header .right_menu li a img {
    
}
/* =================================================================================footer */
#wrap footer {}
#wrap footer .top {}
#wrap footer .top .left {}
#wrap footer .top .left  a {
    font-size:1rem;
}
#wrap footer .top .left a:nth-child(1) {
    color: #138FBF;
}
#wrap footer .top .left a:nth-child(2) {
    color:#DA2128;
}
#wrap footer .top .left  a img {}
#wrap footer .top .right {}
/* ==============footer 패밀리사이트+ 사이트맵 공통 */
#wrap footer .top .right .site {
    border:1px #eee solid;
    padding:7px 10px;
    font-size: 0.75rem;
    display:inline;
    
}
/* ==============footer 패밀리사이트+사이트맵 개별 */
#wrap footer .top .right select {}
#wrap footer .top .right select option {}
#wrap footer .top .right .site_map {}
#wrap footer .top .right .site_map span {}
#wrap footer .top .right .site_map img {}
#wrap footer .bottom {}
#wrap footer .bottom * {/* *바텀의 모든 자식 자손 *:(모든)*/
    font-size:0.875rem;
    line-height:1.35;
    color:#808080;
}
#wrap footer .bottom address {
    /* color:#808080; */
    /* font-size:0.875rem;
    line-height:1.35; */
}
#wrap footer .bottom p {
    /* color:#808080; */
    font-size:0.875rem;
}
