/* ir.css */
#wrap main .path {
    font-size:0.75rem;
    text-align:right;
   /*  width:1920px; */
    padding:12px 60px 12px 0;
    border: 1px solid #f1f1f1;
    border-left:0; border-right:0;
    background-color: #FCFCFC;
    
}
#wrap main .path a {
    
}
#wrap main .path * {/* 글자디자인 */}
#wrap main .path img {margin:0 8px;}
#wrap main .path em {}
#wrap main > * {text-align:center;}
#wrap main h1 {
    font-size: 3.75rem;
    font-weight:700;
    padding-top:80px;
    margin:80px 0 20px;
    text-align:center;
}
#wrap main > p {
    font-size:1.125rem;
    line-height:1.5;
    margin-bottom: 40px;
    text-align:center;
}
#wrap main .bg {
    text-align:center;
    background-color: #fcfcfc;
    padding:80px 0;
}
/* 레이아웃 위치/정렬 기법 inline-block,float,flex,grid,position */
#wrap main .bg .ir_list {
    /* overflow:hidden;부모밖으로나가는 모든거 안보이게함 */ 
    
    width:1280px; height:250px;
    width:1280px;
    margin:0 auto;/* 가운데로 */
    padding:0 80px;
}
#wrap main .bg .ir_list a {
    float:left;
    background-color:#f5f5f5;
    border:1px solid #ddd;
    width:260px; height:250px;
    margin-right:26.67px;
    text-align:left;
    padding:20px;/* 부모와자식 사이의 거리 */
    background-repeat:no-repeat;
    background-position:85% 93%;
}
#wrap main .bg .ir_list a:hover/* a의 마우스를 올렷을때 디자인 */{
    background-color:#fff;
    border:1px solid #138fbf;
    box-shadow:0 0 30px rgba(0,0,0,0.2);
}
/* #wrap main .bg .ir_list a:nth-child(4) {
    float:right;
} */

#wrap main .bg .ir_list a:nth-child(1){background-image:url(../images/ir/ir_01.png);}
#wrap main .bg .ir_list a:nth-child(2){background-image:url(../images/ir/ir_02.png);}
#wrap main .bg .ir_list a:nth-child(3){background-image:url(../images/ir/ir_04.png);}
#wrap main .bg .ir_list a:nth-child(4) {margin-right:0;
    background-image:url(../images/ir/ir_03.png);}/* 불필요한 여백 없애기 */ /* 마지막 수열선택자는 last-child */
#wrap main .bg .ir_list a h2 {
    margin-bottom:12px;
    font-weight:700;
    font-size:1.563rem;
    line-height:1;
}
#wrap main .bg .ir_list a p {
    line-height:1.5;
    
}