/* sns.css */
#wrap main .path {
    background-color:#F5F3F3;
    text-align:right;
    padding:17px 60px 15px 0;
    font-size:0.75rem;
    border: 1px solid #f1f1f1;
    border-left:0; border-right:0;
}
#wrap main .path a {
    
}
#wrap main .path image {}

#wrap main h1  {
    text-align:center;
    background-color: blue;
    margin-bottom:25px;
    margin-top:80px ;
    font-size:3.75rem;
    font-weight:700;
}
#wrap main {
    text-align: center;
} 
#wrap main > p {
background-color:pink;
margin-bottom:80px;
font-size:1.5rem;}
#wrap main .bg {
    
    background-color:#FCFCFC;
}
#wrap main .bg .container {
    display:flex;flex-flow:row nowrap;
    justify-content:space-between;
    background-color:cornflowerblue;
    margin:0 auto;
    width:1280px;
    margin:60px 30px 35px 30px;
}
#wrap main .bg .container a {
    background-color:#F5F3F3;
    width:400px; height:400px;
    border:#ddd 1px solid;
    display:flex; flex-flow:column nowrap;
    justify-content:center; 
    
}
#wrap main .bg .container a:hover {
    background-color:#fff;
    border:1px solid #138fbf;
    box-shadow:0 0 30px rgba(0,0,0,0.2);
}
#wrap main .bg .container a p {}
#wrap main .bg .container a p img {
background-color: darkorchid;
/* margin:60px 30px 35px 30px; */


}
#wrap main .bg .container a h2 {
    background-color:yellow;
    margin:30px 0; 
    font-size:1.625rem;
    font-weight:700;
}
#wrap main .bg .container a h2+p {}
#wrap main .bg .container a p {
    /* background-color: greenyellow; */
    margin-bottom:73px;
    font-size:0.813rem;
    color:#4E4B4B;
}